body {
    background-color: var(--hbg);
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--text);
}

footer {
    background-color: var(--bg);
    padding: 0px;
}

a {
    text-decoration: none;
    color: #005AAA;
}

hr {
    height: 2px !important;
    border-width: 0;
    color: var(--border) !important;
    background: var(--border) !important;
}

.nav li {
    padding: 0px !important;
}

.navbar {
    margin-bottom: 0px;
    padding: 10px 10px;
    height: 33px;
    display: flex;
    align-items: center;
    background: var(--hbg);
}

.navbar li {
    color: #005AAA;
    font-size: 16px;
}

.nav-links {
    padding-left: 5%;
}

.sub-navbar {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    background: var(--navbg);
}

.sub-nav-links {
    padding: 10px !important:
}

.sub-navbar .sub-nav-links li {
    margin: 0;
    padding: 0px 0px 0px 50px;
}

.header {
    position: sticky;
    top: 0;
    padding: 0px;
    background: var(--navbg);
    color: var(--hbg);
    z-index: 1;
}

.grid {
    display: flex !important;
    align-items: flex-start;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    padding: 10px;
    content: flex;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px var(--pico-color-black);
    background: var(--grid);
}

.post-image {
    padding: 10px;
    display: block !important;
    max-width: 350px;
    height: auto;
}

.post-content {
    position: relative;
    padding: 10px;
    margin-left: 15px;
    flex: 1;
}

.tags {
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    padding: 10px;
    width: 65%;
}

.sort {
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    display: inline-block;
    align-items: center;
    width: 35%;
}

.search {
    position: center;
    margin-bottom: 0px !important;
    background: var(--search);
    color: var(--text) !important;
}

.logo {
    display: inline-block;
    padding: 20px;
}

nav {
    background-color: var(--navbg);
}

.sort-dropdown {
    display: none;
    position: absolute;
    background: var(--bg);
}

.sort:hover .sort-dropdown {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    border-radius: 15px;
    background: var(--grid);
    padding: 10px;
    z-index: 1;
}

.bodyTitle {
    padding: 15px;
}

input[type=submit] {
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    background: var(--grid) !important;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
}

.footer .container {
    margin: 0px !important;
}

.footer.container {
    margin: 0px !important;
}

/* .container {
    margin: 0px !important; 
} */

.mountain-footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

    background-image: url(https://emu.edu/_resources/images/home2019/mountain-footer.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    height: 200px;
    overflow: hidden;
    z-index: 0;
}
